@model Entities.Param.AdvertisingParam
@using Entities.Entities
@using Utilities

@if (Model != null && Model.AdvertisingEntitys.Any())
{
    <div id="hero-slider">

        @for (int i = 0; i < Model.AdvertisingEntitys.Count; i++)
        {
            var item = Model.AdvertisingEntitys[i];
            <div id="slider-home">
                <img src="@item.Avatar.ChangeThumbSize(1500,0)" />
            </div>
            
        }
        @*<div class="hero-slide" style="background-image: url('//theme.hstatic.net/1000282280/1000362500/14/ms_banner_img1.jpg?v=1487'); height: 500px;">
                <div class="hero-slide-overlay"></div>
                <div class="hero-slide-content">
                    <div class="wrapper">
                        <div class="hero-content text-center">
                            <div class="slide-message" data-animation="fadeInDown" data-delay="0.5s">
                                <h4>Tư vấn dùng đúng thuốc đúng liều  đúng cách</h4>
                                <p class="medium--hide small--hide">Bằng tất cả tâm huyết, năng lực vượt trội và quy mô không ngừng phát triển, Suplo cam kết nỗ lực hết mình nhằm cung cấp sản phẩm và dịch vụ đúng với những giá trị mà khách hàng mong đợi.</p>
                            </div>
                            <div class="slide-button"><a href="#" data-animation="fadeInUp" data-delay="1s">Xem thêm</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide" style="background-image: url('//theme.hstatic.net/1000282280/1000362500/14/ms_banner_img2.jpg?v=1487'); height: 500px;">
                <div class="hero-slide-overlay"></div>
                <div class="hero-slide-content">
                    <div class="wrapper">
                        <div class="hero-content text-center">
                            <div class="slide-message" data-animation="fadeInDown" data-delay="0.5s">
                                <h4>Chuẩn mực về chất lượng sản phẩm và dịch vụ</h4>
                                <p class="medium--hide small--hide">Bằng tất cả tâm huyết, năng lực vượt trội và quy mô không ngừng phát triển, Suplo cam kết nỗ lực hết mình nhằm cung cấp sản phẩm và dịch vụ đúng với những giá trị mà khách hàng mong đợi.</p>
                            </div>
                            <div class="slide-button"><a href="#" data-animation="fadeInUp" data-delay="1s">Xem thêm</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide" style="background-image: url('//theme.hstatic.net/1000282280/1000362500/14/ms_banner_img3.jpg?v=1487'); height: 500px;">
                <div class="hero-slide-overlay"></div>
                <div class="hero-slide-content">
                    <div class="wrapper">
                        <div class="hero-content text-center">
                            <div class="slide-message" data-animation="fadeInDown" data-delay="0.5s">
                                <h4>Tư vấn dùng đúng thuốc đúng liều  đúng cách</h4>
                                <p class="medium--hide small--hide">Bằng tất cả tâm huyết, năng lực vượt trội và quy mô không ngừng phát triển, Suplo cam kết nỗ lực hết mình nhằm cung cấp sản phẩm và dịch vụ đúng với những giá trị mà khách hàng mong đợi.</p>
                            </div>
                            <div class="slide-button"><a href="#" data-animation="fadeInUp" data-delay="1s">Xem thêm</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-slide" style="background-image: url('//theme.hstatic.net/1000282280/1000362500/14/ms_banner_img4.jpg?v=1487'); height: 500px;">
                <div class="hero-slide-overlay"></div>
                <div class="hero-slide-content">
                    <div class="wrapper">
                        <div class="hero-content text-center">
                            <div class="slide-message" data-animation="fadeInDown" data-delay="0.5s">
                                <h4>Chuẩn mực về chất lượng sản phẩm và dịch vụ</h4>
                                <p class="medium--hide small--hide">Bằng tất cả tâm huyết, năng lực vượt trội và quy mô không ngừng phát triển, Suplo cam kết nỗ lực hết mình nhằm cung cấp sản phẩm và dịch vụ đúng với những giá trị mà khách hàng mong đợi.</p>
                            </div>
                            <div class="slide-button"><a href="#" data-animation="fadeInUp" data-delay="1s">Xem thêm</a></div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
}
