@model Entities.Entities.AspNetUserRoles

@using (Html.BeginForm("Delete", "AspNetUserRoles", FormMethod.Post, new { id = "frDelete", @role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xác nhận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body p-b-0">
                <div class="form-group row">
                    <label class="col-sm-12 col-form-label">Bạn có chắc chắn muốn xóa @Model.Name ?</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="sendDelete('@Url.Action("Delete", "AspNetUserRoles")')" class="btn btn-primary">Đồng ý</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
}
