@model Entities.Param.ProductParam
@using Entities.Entities
@using Utilities
@{
    ViewBag.Title = "Tạo Sản phẩm";
    ViewBag.Description = "Tạo sản phẩm";

    List<string> ListAvatar = ViewBag.ListAvatar as List<string>;
    IEnumerable<ProductPropsEntity> Props = ViewBag.Props as IEnumerable<ProductPropsEntity>;
}
<script src="~/Scripts/Admin/inputmask.js"></script>
<script src="~/Scripts/Admin/jquery.inputmask.js"></script>
<script src="~/Scripts/Admin/form-mask.js"></script>
<script src="~/Scripts/Admin/createInit.js"></script>


<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Thông tin</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        @using (Html.BeginForm("Import", "Product", FormMethod.Post, new { @class = "form-horizontal", @data_parsley_type = "", id = "frImport", @role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="modal-body p-b-0">
                
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Chọn file</label>
                    <div class="col-sm-10 ">
                        <div class="row">
                            <div class="col-sm-12"> <input type="file" id="fileInput" name="ExcelInput" class="actFile form-control" /> </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="sendCreateFormData('@Url.Action("Import", "Product")')" class="btn btn-primary">Lưu</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
            </div>
        }
    </div>
</div>
<script>
    function sendCreateFormData(url) {

        var form = $('form#frImport');

        var fdImage = new FormData();

        //validate
        if (!form.valid()) {
            form.validate().focusInvalid();
            return;
        }

        CKupdate();

        var fd = getFormSubmitData(form.get(0), fdImage);

        //submit
        CmsFunc.AjaxNoprocessData(url, fd, function (data) {
            if (data.isSuccess === true) {
                $("#CreateModal").modal('hide');
                reloadGrid(); toastr.success(data.mess, "Message!");
                FlushCache();
            } else {
                toastr.error(data.mess, "Message!");
            }
        });
    }
</script>